<template name="profile">

    <!-- Page heading -->
    {{> pageHeading title='Seu Perfil' category='' }}

    <div class="wrapper wrapper-content animated fadeInRight">


        <div class="row m-b-lg m-t-lg">
            <div class="col-lg-7">


                <div class="row">

                    <div class="col-lg-2">
                        <div class="profile-image">
                            <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <h3 class="no-margins"> {{name}}</h3>
                        <h4>{{email}}
                            <a href="{{pathFor route='updateEmail'}}">
                                <small><i class="fa fa-envelope"></i> alterar e-mail</small>
                            </a>
                        </h4>

                        <div class="text-left">
                            <a href="{{pathFor route='updatePassword'}}">
                                <small><i class="fa fa-key"></i> alterar senha</small>
                            </a>
                            <br>
                            <a href="#">
                                <small><i class="fa fa-image"></i> alterar imagem de perfil</small>
                            </a>
                        </div>
                    </div>

                </div>

                {{> profileForm}}
            </div>

            <div class="col-lg-5 m-b-lg">
                <h2>Últimos Pedidos</h2>
                <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon yellow-bg">
                            <i class="fa fa-cutlery"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Pedido #31</h2>
                            <ul>
                                <li>02 - Frangos</li>
                                <li>02 - Salada Verão</li>
                                <li>01 - Suco Detox</li>
                                <li>01 - Pure</li>
                                <li>01 - Legumes no vapor</li>
                            </ul>

                            <a href="#" class="btn btn-sm btn-default"> detalhes</a>
                            <span class="vertical-date"> <small>12/10/2016</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cutlery"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Pedido #30</h2>
                            <ul>
                                <li>02 - Frangos</li>
                                <li>02 - Salada Verão</li>
                                <li>01 - Suco Detox</li>
                                <li>01 - Pure</li>
                                <li>01 - Legumes no vapor</li>
                            </ul>

                            <a href="#" class="btn btn-sm btn-default"> detalhes</a>
                            <span class="vertical-date"> <small>12/10/2016</small> </span>
                        </div>
                    </div>

                    <div class="text-right">
                        <a href="#" class="btn btn-sm btn-default"> ver todos</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>