<template name="profileForm">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Seu perfil</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" id="form-profile">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Nome:</label>
                    <div class="col-lg-10"><input type="text" placeholder="Nome" class="form-control" name="name" value="{{name}}"></div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Telefone:</label>
                    <div class="col-lg-5"><input type="text" placeholder="Telefone" class="form-control phone" name="phone" value="{{phone}}"></div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Data de Nascimento:</label>
                    <div class="col-lg-5"><input type="date" placeholder="Data de Nascimento" class="form-control" name="dateOfBirth" value="{{dateOfBirth}}"></div>
                </div>

                <div class="form-group"><label class="col-sm-2 control-label">Sexo:</label>
                    <div class="col-lg-10">
                        <div><label> <input type="radio"  value="male" name="gender" {{genderMale}} > Masculino</label></div>
                        <div><label> <input type="radio" value="female" name="gender" {{genderFemale}} > Feminino</label></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-5">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> atualizar perfil</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>