<template name="updatePassword">

    <!-- Page heading -->
    {{> pageHeading title='Atualizar Senha' category='Perfil' }}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-content">

            <h2 class="font-bold">Atualize sua senha <i class="fa fa-key"></i></h2>

            <div class="row">

                <div class="col-lg-offset-3 col-lg-6">
                    <form id="form-update-password" class="form-horizontal" role="form" action="{{pathFor route='profile'}}">

                        <div class="form-group"><label class="col-lg-4 control-label">Senha antiga</label>

                            <div class="col-lg-8"><input name="password" type="password" placeholder="digite sua senha antiga" class="form-control"></div>
                        </div>

                        <div class="well">
                            <div class="form-group"><label class="col-lg-4 control-label">Nova senha</label>
                                <div class="col-lg-8"><input name="new_password" id="new_password" type="password" placeholder="digite a nova senha" class="form-control"></div>
                            </div>

                            <div class="form-group"><label class="col-lg-4 control-label">repita a senha</label>
                                <div class="col-lg-8"><input name="repeat_password" type="password" placeholder="repita a nova senha" class="form-control"></div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b">Atualizar senha</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</template>