<template name="categoryForm">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Nome:</label>
                        <div class="col-sm-4">
                            <input type="hidden" name="_id" id="_id" value="{{_id}}">
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label">Identificador:</label>
                        <div class="col-sm-4">
                            <input type="text" name="identifier" id="identifier" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" align="center">
                            <button class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>